:root {
    --colorone: #66666e;
    --colorTwo: #9999a1;
    --colorThree: #49b6ff;
    --colorFour: #bde0fe;
    --colorFive: #a2d2ff;
    --colorSix: #ffffff;
    --colorSeven: #252525;
    --colorEight: #353535;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;
}

header {
    text-align: center;
    background-color: var(--colorTwo);
    color: var(--colorSix);
    padding: 3px;
}

/* body{
    
} */

/* .background-image {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image::before {
    content: "";
    background-image: url("/moviebackground.jpeg");
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
} */

.wrapper .movie-menu{
    background-color: var(--colorTwo);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;

}