:root {
    --colorone: #66666e;
    --colorTwo: #9999a1;
    --colorThree: #49b6ff;
    --colorFour: #bde0fe;
    --colorFive: #a2d2ff;
    --colorSix: #ffffff;
    --colorSeven: #252525;
    --colorEight: #353535;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;
}

header {
    text-align: center;
    background-color: var(--colorTwo);
    color: var(--colorSix);
    padding: 20px;
}

/* body{
    
} */

/* .background-image {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image::before {
    content: "";
    background-image: url("/moviebackground.jpeg");
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
} */

.wrapper .movie-menu{
    background-color: var(--colorTwo);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;

}

.movie-menu .menu {
    color: var(--colorSix);
    /* margin: 10px 0 5px; */
    text-align: center;
    margin-top: 100px;
}

.titles-list {
    color: var(--colorSix);
    list-style-type: none;
    padding-left: 30px;
    position: relative;
}

.titles-list::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
}

li {
    list-style: circle;
    margin-top: 30px;
}

.display-area {
    max-width: 90%;
    margin: 0 auto;
    margin-left: 350px;
    margin-top: 50px;
    margin-right: 75px;
    background-color: var(--colorFour);
    border-radius: 20px;
    box-sizing: border-box;
    height: 800px;
    justify-content: center;
    padding: 30px;
    width: auto;
}

.movie-title {
    text-align: center;
}

#poster {
    height: 500px;
    width: 500px;
    justify-content: center;
}

#poster img{
    max-width: 100%;
    max-height: 100%;
    margin:auto;
    display: block;
    margin-left: 480px;
    margin-top: 10px;
    border-radius: 20px;
}
#description {
    margin-top: 5px;
    margin-left: 250px;
    padding: 10px;
}